body {
  background-color: #f4f6f8;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  font-family: Arial;
  background: white;
  border-radius: 8px;
}

textarea {
  width: 100%;
  padding: 10px;
}

button {
  padding: 10px 15px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #1e40af;
}
